   
  <!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body>
    
    <nav class="navbar navbar-expand navbar-dark bg-primary">
      <div class="container">
        <div class="nav navbar-nav">
          <a class="nav-item nav-link fw-bold text-white" href="/">Inicio</a>
          <a class="nav-item nav-link fw-bold text-white" href="/libros">Libros</a>
          <a class="nav-item nav-link fw-bold text-white" href="/nosotros">Nosotros</a>
          <a class="nav-item nav-link fw-bold text-white" href="/admin/login">Login</a>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
        <br/>