{% include 'sitio/cabecera.html' %}
<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3 fw-bold">Bienvenid@s a este rincón literario.</h1>
           <p class="fw-bold">Soy Dayana Tapasco y te invito a explorar un espacio creado para descubrir historias, compartir la pasión por la lectura y encontrar tu próximo libro favorito.</p>
        <p class="lead">Empezar con nuestro sitio web</p>
        <hr class="my-2">
        <p></p>
        <p class="lead">
            <a class="btn btn-success btn-lg" href="/libros" role="button">Ver libros disponibles</a>
        </p>
    </div>
</div>
{% include 'sitio/pie.html' %}